.price-tag {
  color:white;
}

.product-image {
  max-width: 90%;
}

.wrapper {
  display: flex;
 flex-basis: auto;
  flex-direction: column;
  align-items: center;
}


.display-items {

  background: "#F44E3F";
  max-width: "200px";
  height: "400px";
  align-items: "center";
}
