.price-tag {
  color: black;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  align-items: center ;
  flex-basis: auto;
 
  
}

.boxitem {
  
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  width: 350px;
  height:500px;
  
 

  
}
